backports.functools-lru-cache==1.6.1
cffi==1.15.0
cryptography==3.3.2
cycler==0.10.0
enum34==1.1.10
ipaddress==1.0.23
kiwisolver==1.1.0
matplotlib==2.2.5
mysql-connector-python==8.0.20
numpy==1.16.6
pandas==0.24.2
psutil==5.9.0
pyarmor==7.3.6
pycparser==2.21
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
